* {
  margin:0px;
  padding: 0px;
}

html{
  height: 100%;
  text-rendering: optimizelLegibility;
  -webkit-font-smoothing: antialiased;

  font-size: 11px;
  font-family: Verdana, sans-serif;
  line-height: 1.5rem;
}
code{
  font-family: Verdana, sans-serif;
  color: #D41A1F;
}


a {
  color: #000;
  border-bottom: #7A378B solid 1px;
  text-decoration: none;
}
a,
a:hover,
a:active,
a:visited {
  outline: 0px;
}
a:hover {
  color: #7A378B;
}

p{
  margin-bottom: 1.6rem;
}
h1, h2, h3, h4, h5{
  margin:0 0 1.6rem 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h1{
  font-size: 1.2rem;
}
h2, h3{
  font-size: 1rem;
}
h3, h4, h5{
  font-weight: normal;
}

h4, h5{
  text-transform: none;
}

h4 {
  font-style: italic;
}

blockquote{
  padding-left: 1.3rem;
  border-left: #c0c0c0 solid 1px;
  margin-left: 0px;
}
blockquote cite{
    font-style:italic;
}
blockquote cite:before{
    content: '      — ';
}

ol, ul{
  margin-bottom: 1.6rem;
}
li{
  margin-left: 4%;
  margin-bottom: 0.3rem;
}
hr{
    color:#c0c0c0;
    width: 50%;
    margin-top: 3rem;
    margin-bottom:3rem;
}

footer {
  margin-top: 3.5rem;
  border-top: 1px solid #8C8C8C;
  padding-top: 3.5rem;
  color: #8C8C8C;
}
footer p{
  letter-spacing: 1px;
}
footer a{
  color: #8C8C8C;
}

/* div IDs */

#site{
  max-width: 460px;
  padding: 80px 4% 20px 4%;
}

/* HEADER */

header h1{
  font-family: helvetica, arial, sans-serif;
  font-size: 1.9rem;
  line-height: 3.4rem;

}
