<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"></meta>
  <meta content="{{page.tags}}" name="keywords"></meta>
  <title>{{page.title}}</title>

  <link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="site">
  <h1>{{page.title}}</h1>
  {{content}}
  <br>
  <br>
<script>
    document.write('<a href="' + document.referrer + '">Back…</a>');
</script>
  <br>
  <br>
  <footer>
    <p>A wiki by <a href="http://www.zmlka.com">Martin Zemlicka</a>. All content <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC-BY-NC-SA</a>.</p>
  </footer>
</div>
</body>
